<div class="span12">
   <h3>For Sale</h3>
</div>
{% if not items %}
<h3>No items for sale.</h3>
{% endif %}
<div class="span12" />
{% for item in items %}
<div class="span4">
   <a href="{{item.url}}"><img style="min-width: 300px;" src="{{ item.image. original}}" /></a>
   <div style="max-width: 300px; max-height:77px;" class="ImageInfo gray-background">
      <h3 style="padding:0;margin: 0;">{{item.title|title}}</h3>
      <a href="{{item.url}}"><h5>{{item.category|title}}</h5></a>
      <div style="width:20%;height:10%;padding-right:20px;float:right; text-align:center;position:relative;bottom:40px;right:20px;.border-radius(6px);" class="blue-background white-text">{{item.price}}</div>
    </div>
</div>
   {% endfor %}
</div>
<div class="pagination span12">
   {{ paginator }}
</div>

<!-- 
   {#
   Page: for_sale.html
   Purpose: main page that displays items for sale, when a user clicks on the menu link
   Status: Required
   This Template is Passed to the layout.html as {{ content }}
   CSS Notes:
   
   Variables on This Page:
   item
    Description: Basic Variable for the items sold in shopping cart. All for sale items share the item variable
   
    .url
      Description: item url
      
    .price
      Description: Price of the item 
      
    .title
      Description: Item title as entered by the shop owner
    
    .image.small
      Description: We don't want to show a heavy page with 16 items per page, so we show a small image instead.
      
   {{ paginator }}:
    Description: pagination variable, when there are more than 5 posts, pagination occurs. 
   
   Filters on this Page
   |asset_url
    Description: the url to the item referenced in the variable ie image url or css file url in layout.html
   
   Variable to iterate over
   None
   
   Author: Stephen Power
   #}
   -->